@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .discount-badge {
    @apply grey-gradient w-full text-[10px] sm:text-[16px] h-[20px] md:w-[320px] bg-gray-500 rounded-full flex items-center justify-start text-white;
  }
  .table-field {
    @apply border border-gray-300 px-4 py-2 text-center
  }
}

.grey-gradient {
  background: linear-gradient(125deg, #272727 0%, #11101d 100%);
}

.card-product {
  border-radius: 20px;

  background: linear-gradient(
    144deg,
    #fff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
}

.headline-hero {
  color: #fff;
  /* font-size: 190px; */
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 100.8px */
  letter-spacing: 0.72px;
  z-index: 11;
}

.text-hero {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
}

.radial-hero {
  width: 801px;
  height: 619px;
  flex-shrink: 0;
  border-radius: 801px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fbfdfd 0%,
    rgba(4, 118, 122, 0) 100%
  );
}
.radial-hero1 {
  width: 801px;
  height: 619px;
  flex-shrink: 0;
  border-radius: 992px;
  background: radial-gradient(
    55.4% 46.68% at 50% 50%,
    #066063 0%,
    rgba(5, 61, 64, 0) 100%
  );
}

.gradient-bg {
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.text-gradient {
  background: radial-gradient(
    64.33% 64.33% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 11;
}
